.test {
    background-color: #7e3e3e;
    height: 100%;
}

.tile {
    width: 10rem;
    max-width: 10rem;
    min-width: 10rem;
    height: 10rem;
    max-height: 10rem;
    min-height: 10rem;
}

.main-wrapper{
    background-color: #fff;
    box-shadow: 5px 5px 20px;
}

.tile-grid {
}

.imgw {
    width: 100%;
}

.center-card{
    text-align:right;
    max-width: 30rem;
    float:none;
    display: inline-block;
    margin: 0 auto;
}

.center-text{
    text-align: center;
}
.ico{
    padding:20px;
}
