{% load staticfiles %}
<link rel="stylesheet" href="{% static "rdx5/css/mystyles.css" %}">
<link rel="stylesheet" href="{% static "rdx5/js/node_modules/bootstrap/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "rdx5/js/node_modules/tether/dist/css/tether.min.css" %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="{% static "rdx5/js/node_modules/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "rdx5/js/node_modules/tether/dist/js/tether.min.js" %}"></script>
<script src="{% static "rdx5/js/node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>


<script type="text/javascript">
var STATIC_URL = "{{ STATIC_URL|escapejs}}";
</script>
<div id="root">
    <div class="col-md-12"></div>
</div>
<script src="{% static "rdx5/js/bundle.js" %}"></script>
